<div class="calendar">

  <% @doors.each do |door| %>

    <a style="background-image: url(/img/thumbnails/<%=door['day']%>.jpg);<%=['background-image: none',''][door['opened']] %>" href="doors/<%=door['day']%>"  class="door <%= ['unopened','opened'][door['opened']] %>">
      <div class="door-number"><%= door['day'] %></div>

    </a>
  <% end %>
</div>
